@tailwind base;
@tailwind components;
@tailwind utilities;

.hero1 {
  background-image: url("https://images.pexels.com/photos/17200433/pexels-photo-17200433/free-photo-of-golden-bitcoin-with-a-pink-piggy-bank-on-a-black-background-investments-in-cryptocurrency-how-to-safely-save-money.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-size: cover;
  background-position: center;
  width: auto;
  height: auto;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.animate-bounce {
  animation: bounce 1s infinite;
}

.particles-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
